* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: solid 5px black;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0 auto;
    background: #7ccd37;
}

#background, #player, #character-crouch, #character-jump, #character-run, #character-death, #bullets {
    display: none;
}

